@import '~rfs/scss';

.p-dropdown {
  width: 100%;
  height: 26px;
  .p-dropdown-label {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.7rem;
    @include font-size(11.2px);
    font-weight: 300;
  }
  .p-dropdown-label.p-placeholder {
    color: #6e7191 !important;
  }
  .p-dropdown-trigger {
    width: 24px;
    .p-dropdown-trigger-icon {
      width: 8.49px !important
    }
  }
}

