@import '~rfs/scss';

.p-inputtext {
  font-family: 'Manrope', sans-serif;
  // @include padding(5px 8px);
  @include font-size(11.2px);
  font-weight: 300;
  height: 26px;
}

.p-inputtext.p-component {
  font-family: 'Manrope', sans-serif;
  // @include padding(5px 8px);
  @include font-size(11.2px);
  font-weight: 300;
  height: 26px;
}

.p-inputtext.p-component::placeholder{
  color: #6c757d !important;
}

.p-inputgroup-addon {
  padding: 0px;
}
