$canvas: #f7f7fc;
$primary: #0063f7;
$primary-weak: #eff5ff;
$primary-strong: #0053ce;
$success: #00a455;
$success-weak: #eefff7;
$success-strong: #017a40;
$info: #1be7ff;
$info-strong: #1bc8ff;
$warning: #ffc700;
$warning-weak: #fffae8;
$warning-strong: #b99000;
$danger: #ff0022;
$danger-weak: #fff2f4;
$danger-strong: #c0001a;
$dark: #14142b;
$dark-weak: #f7f7fc;
