$canvas: #f7f7fc;
$primary: #0063f7;
$primary-strong: #0053ce;
$primary-weak: #eff5ff;
$success: #00a455;
$success-strong: #017a40;
$info: #1be7ff;
$info-strong: #1bc8ff;
$warning: #ffc700;
$warning-strong: #b99000;
$danger: #ff0022;
$danger-strong: #c0001a;
