$canvas: #f7f7fc;
$primary: #0063f7;
$primary-strong: #0053ce;
$success: #00a455;
$success-strong: #017a40;
$info: #1be7ff;
$info-strong: #1bc8ff;
$warning: #ffc700;
$warning-strong: #b99000;
$danger: #ff0022;
$danger-strong: #c0001a;

.p-button {
  background: $primary !important;
  border: 1px solid $primary !important;
}
.p-button:enabled:hover {
  background: $primary-strong !important;
}

.p-button.p-button-success {
  background: $success !important;
  border: 1px solid $success !important;
}
.p-button.p-button-success:enabled:hover {
  background: $success-strong !important;
  border: 1px solid $success !important;
}

.p-button.p-button-info {
  background: $info !important;
  border: 1px solid $info !important;
}
.p-button.p-button-info:enabled:hover {
  background: $info-strong !important;
  border: 1px solid $info !important;
}

.p-button.p-button-danger {
  background: $danger !important;
  border: 1px solid $danger !important;
}
.p-button.p-button-danger:enabled:hover {
  background: $danger-strong !important;
  border: 1px solid $danger !important;
}

.p-button.p-button-warning {
  background: $warning !important;
  border: 1px solid $warning !important;
}
.p-button.p-button-warning:enabled:hover {
  background: $warning-strong !important;
  border: 1px solid $warning !important;
}

h1 {
  font-size: 56px !important; // 42pt
  font-weight: 700 !important;
}
h2 {
  font-size: 38px !important; // 28pt
  font-weight: 700 !important;
}
h3 {
  font-size: 32px !important; // 24pt
  font-weight: 700 !important;
}
h4 {
  font-size: 26px !important; // 20pt
  font-weight: 700 !important;
}
h5 {
  font-size: 22px !important; // 16pt
  font-weight: 700 !important;
}

body {
  background: $canvas !important;
  font-size: 18px; // 14pt
}

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
